p{
    text-align: center;
    font-size: 40px;
    margin: 0px;  
}

.head {
    font-weight: bold;
    font-size: 70px;
    margin-top: 0%;
}

.fan-message {
    color: blue;
    font-style: oblique;
    text-align: center;
    font-size: 40px;
    margin: 0px;
}
  